body {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #090909;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: rgb(0, 71, 171);
  margin-top: 0;
}
video {
  position: fixed;
}

.block_btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block-quantity_money {
  position: relative;
}

.quantity_money {
  position: relative;
  width: 94%;
}

.form_salary-default {
  width: 100%;
}

.input_btn {
  position: absolute;
  right: 0;
  width: 92px;
  height: 46px;
  background: rgb(171, 0, 0);
  color: #fff;
  cursor: pointer;
}

.mini_btn {
  width: calc(98% / 2);
}

.btn {
  cursor: pointer;
}

.btn:hover {
  background: rgb(0, 71, 171);
  color: #fff;
}

.mini_btn:hover {
  background: rgb(61, 0, 158);
  color: #fff;
}

button[disabled=""],
button[disabled=""]:hover {
  background: #808080;
  color: #808080;
  cursor: inherit;
  opacity: 0.2;
}

.box-col {
  display: flex;
}

.box-padding {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  padding: 20px;
  z-index: 1;
  background: #000;
  opacity: 0.9;
}

.box-padding input,
.box-padding button,
.box-padding .salary_center {
  margin-top: 20px;
  text-align: center;
}

button.input_btn-vacation {
  margin-top: 0;
  cursor: pointer;
  background: rgb(36, 15, 156);
  color: #fff;
}

.box-padding .salary_center,
.box-padding input,
.btn {
  padding: 10px;
  font-size: 18px;
}

.box-padding .salary_center {
  font-size: 36px;
  margin: auto;
}

input.num_vacations {
  all: unset;
}

input[type=number].num_vacations::-webkit-outer-spin-button,
input[type=number].num_vacations::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].num_vacations {
    -moz-appearance:textfield;
}

.hidden,
div.box-padding {
  display: none;
}

div.box-padding.show {
  display: block;
  opacity: 0;
  animation: ani 1.5s forwards;
}

div.hidden.show-hidden {
  display: flex;
  flex-direction: column;
}

.shift {
  animation: ani 1.5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}