body {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #090909;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: rgb(0, 71, 171);
  margin-top: 0;
}
video {
  position: fixed;
}

.block_btn {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block-quantity_money {
  position: relative;
}

.quantity_money {
  position: relative;
  width: 96%;
}

.mini_btn {
  width: calc((100% / 2) - 10px);
}

.btn {
  cursor: pointer;
  border-radius: 15px;
  background-image: linear-gradient(90deg, #1129fc 0% , #1f02c0 100%);
  background-origin: border-box;
  box-shadow: inset 0 100vw white;
  border: 5px solid transparent;
}

.btn:hover {
  box-shadow: 0px 0px 20px 10px rgb(0, 71, 171);
  background: #000;
  color: #fff;
}

.mini_btn:hover {
  background: #000;
  color: #fff;
}

button[disabled=""],
button[disabled=""]:hover {
  background-origin: inherit;
  box-shadow: inherit;
  background: #808080;
  color: #808080;
  cursor: inherit;
  opacity: 0.2;
}

.box-col {
  display: flex;
  position: relative;
}

.box-padding {
	display: flex;
	flex-direction: column;
	border: 2px solid #fff;
	padding: 20px;
	z-index: 1;
	background: #000;
	opacity: 0.9;
	width: 100%;
	max-width: 600px;
}

.box-padding input,
.box-padding button,
.box-padding .salary_center {
  margin-top: 20px;
  text-align: center;
}

button.salary_elem-btn,
button.input_btn-vacation {
  font-size: inherit;
  border-radius: 0;
  padding: 0 10px;
  margin-top: 0;
  margin-left: 75px;
  cursor: pointer;
  background-image: linear-gradient(90deg, red 0% , #1f02c0 100%);
}

.box-padding .salary_center,
.box-padding input,
.btn {
  padding: 10px;
  font-size: 18px;
}

.btn_vacations,
.input_btn {
  position: absolute;
  padding: 0;
  right: 0;
  width: 92px;
  height: 46px;
  border-radius: 0;
  background-image: linear-gradient(90deg, red 0% , #1f02c0 100%);
  cursor: pointer;
}

.btn_copy {
  position: relative;
  z-index: 1;
}

.monthly_salary-send,
.form_salary-default {
  background-image: linear-gradient(90deg, red 0% , #1f02c0 100%);
}

.box-padding .salary_center {
  font-size: 36px;
  margin: auto;
}

.num_vacations-title {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

input.salary_elem,
input.num_vacations {
  all: unset;
}

.btn_vacations {
  top: -33px;
}

input.salary_elem {
  margin: 10px 0;
}

.salary_elem-string {
  position: relative;
}
.salary_elem-string button {
  display: none;
  position: absolute;
}

button.salary_elem-btn {
  padding: 0 4px;
  right: 0;
  top: 0;
}

input[type=number].num_vacations::-webkit-outer-spin-button,
input[type=number].num_vacations::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].num_vacations {
    -moz-appearance:textfield;
}

.hidden,
div.box-padding {
  display: none;
}

div.box-padding.show {
  display: block;
  opacity: 0;
  animation: ani 1.5s forwards;
}

.salaries_block,
div.hidden.show-hidden {
  display: flex;
  flex-direction: column;
}

.salaries_block-btn .btn {
  max-width: 200px;
  width: 100%;
}

div.salaries {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 200px;
  width: 100%;
}

.shift {
  animation: ani 1.5s forwards;
}

.detailed_block {
  position: relative;
}

.hidden_copy_text {
  display: none;
  padding: 20px;
  height: max-content;
  position: absolute;
  border: 2px solid #fff;
  background: #000;
  opacity: 0.9;
  animation: ani-two 5s forwards;
  z-index: 11;
}

@keyframes ani-two {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}